:root {
	/* 
   * Colors 
   */
	--black: #000000;
	--white: #ffffff;
	--mint: #afdb98;
	--green: #00932d;
	--teal: #4ed9e5;
	--blue: #0e63c1;
	--yellow: #f7db0f;
	--darkyellow: #99904c;
	--pink: #aa1bb2;
	--purple: #a97cff;
	--darkpurple: #7b2de8;
	--orange: #fe7315;
	--brown: #884900;
}
